
@{
    ViewBag.Title = "AddMosque";
}

<script src="~/Scripts/ForAddMosque.js"></script>
<h1>Add Mosque</h1>
<h2>Select one of the following formats</h2>
Format : <select id="format" onchange="loadDoc(this.value)">
       <option value="">-Select-</option>
      <option value="12">12 Hours</option>
      <option value="24">24 Hours</option>
</select>
<div id="add">
</div>